.column-layout {
    max-width: 1300px;
    background-color: #FFF;
    margin: 40px auto 0 auto;
    line-height: 1.65;
    padding: 20px 50px;
    display: flex;
}

.main-column {
    flex: 2;
    order: 2;

}

.sidebar-one {
    flex: 1;
    order: 1;

}

.sidebar-two {
    flex: 1;
    order: 3;

}

.call-outs-container {
    max-width: 1400px;
    margin: 40px auto 0 auto;
    //display: flex;
    //justify-content: space-between;
}

.call-out {
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    flex-basis: 30%;
    //flex: 1;
    //margin-right: 40px;
}

//.call-out:last-child {
 //   margin-right: 0;
//}

@media (min-width: 900px) {
    .call-outs-container {
    display: flex;
    justify-content: space-between;
    }
}

.call-out:nth-child(1) {background-color: #c0dbe2;}
.call-out:nth-child(2) {background-color: #cdf1c3;}
.call-out:nth-child(3) {background-color: #ccb9da;}


.container {
    //background-position: center;
    //background-repeat: no-repeat;
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;

    background: url(.../../../../../../assets/images/NightSky.jpg);
    background-size: cover;
    background-position: center center;
}

.parent-weather-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.current-weather-container {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.current-weather {

    h1{
        font-size: 70px;
        margin: 0px;
        color: white;
        text-shadow: 4px 4px 6px black;
    }
    h2{
        margin: 0px;
        color: white;
        text-shadow: 4px 4px 6px black;
    }

    //padding: 10px;
}

.current-wind-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    
}

.current-wind {
    padding: 10px;
    h4{
        color: white;
        text-shadow: 4px 4px 6px black;
        margin: 0px;

    }
    
}

.parent-daily-container {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    //align-items: flex-start;
    //max-width: 180px;


}


.daily-weather-container {
    //margin-top: 100px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    


}

.daily-weather {
    padding: 40px;
    //max-width: 180px;

    h4 {
        color: white;
        text-shadow: 4px 4px 6px black;
    }
    h5 {
        color: white;
        text-shadow: 4px 4px 6px black;
    }



}

.daily-high-low {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    align-content: flex-start;   
    //justify-content: space-between;

    //justify-content: space-between;
    h4 {
        color: white;
        text-shadow: 4px 4px 6px black;
    }
    h5 {
        color: white;
        text-shadow: 4px 4px 6px black;
    }
}



