<!--
<mat-card id="card" style="text-align: center;">
	<mat-card-title>
		Enter Zipcode
	</mat-card-title>

	<mat-card-content>

		<mat-form-field>
			<input matInput placeholder="zipcode"
			[ngModel]="zipCode" (ngModelChange)="zipCode = $event;">
		</mat-form-field><br/>
		<button (click)="onZipEnter()" mat-raised-button color="primary" style="margin-right:5px;">Go</button>

	</mat-card-content>
-->






<!--
<div class="parent-weather-container">
	<div class="current-weather-container">
		<div class="current-weather">
			<h2>Houston, TX</h2>
		</div>
		<div class="current-weather">
			<h1>{{DarkSky.currently.temperature}}</h1>
		</div>
		<div class="current-weather">
			<h2>{{DarkSky.currently.icon}}</h2>
		</div>
	</div>
	<div class="current-wind-container">
		<div class="current-wind">
			<h4>Feels Like {{DarkSky.currently.apparentTemperature}}</h4>
		</div>
		<div class="current-wind">
			<h4>Wind {{DarkSky.currently.windSpeed}}</h4>
		</div>
		<div class="current-wind">
			<h4>Visibility {{DarkSky.currently.visibility}}</h4>
		</div>
	</div>
	<div class="current-wind-container">
		<div class="current-wind">
			<h4>Barometer {{DarkSky.currently.pressure}}</h4>
		</div>
		<div class="current-wind">
			<h4>Humidity {{DarkSky.currently.humidity}}</h4>
		</div>
		<div class="current-wind">
			<h4>Dew Point {{DarkSky.currently.dewPoint}}</h4>
		</div>
	</div>
</div>


<div class="daily-weather-container">
	<div *ngFor="let day of DarkSky.daily.data">
		<div class="daily-weather">
			<h4>{{day.time}}</h4>
			<h4>{{day.temperatureHigh}}</h4><h5>{{day.temperatureLow}}</h5>
			<h4>{{day.icon}}</h4>
		</div>
	</div>
</div>
-->

<div class="container">
	<div class="parent-weather-container">
		<div class="current-weather-container">
			<div class="current-weather">
				<h2>Houston, TX</h2>
			</div>
			<div class="current-weather">
				<h1>{{DarkSky.currently.temperature}}</h1>
			</div>
			<div class="current-weather">
				<h2>{{DarkSky.currently.icon}}</h2>
			</div>
		</div>
		<div class="current-wind-container">
			<div class="current-wind">
				<h4>Feels Like {{DarkSky.currently.apparentTemperature}}</h4>
			</div>
			<div class="current-wind">
				<h4>Wind {{DarkSky.currently.windSpeed}}</h4>
			</div>
			<div class="current-wind">
				<h4>Visibility {{DarkSky.currently.visibility}}</h4>
			</div>
		</div>
		<div class="current-wind-container">
			<div class="current-wind">
				<h4>Barometer {{DarkSky.currently.pressure}}</h4>
			</div>
			<div class="current-wind">
				<h4>Humidity {{DarkSky.currently.humidity}}</h4>
			</div>
			<div class="current-wind">
				<h4>Dew Point {{DarkSky.currently.dewPoint}}</h4>
			</div>
		</div>
	</div>
	
	
	<div class="daily-weather-container">
		<div *ngFor="let day of DarkSky.daily.data">
			<div class="daily-weather">
				<h4>{{day.time}}</h4>
				<h4>{{day.temperatureHigh}}</h4><h5>{{day.temperatureLow}}</h5>
				<h4>{{day.icon}}</h4>
			</div>
		</div>
	</div>
</div>